.header {
  position: relative; /* Relative positioning for the header */
}

.menuButton {
  /* font-size: 24px; */
  cursor: pointer;
}

.menuContainer {
  position: absolute; /* Absolute positioning for the menu container */
  top: 100%; /* Positioned just below the header */
  left: 0; /* Aligned to the left */
  width: 200px; /* Fixed width for the column */
  overflow: hidden;
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 0.3s ease;
  background: rgba(56, 10, 196, 0.9); /* Background color for the column */
  color: rgb(255, 255, 255);
  z-index: 1000; /* Set the z-index high enough to be above other elements */
  padding: 0 10px 10px 10px;

}

.menuItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: large;
}

.closed {
  height: 0;
  padding: 0;
}

.open {
  height: auto; /* Expand to fit content */
  padding: 18px;
  opacity: 1;
}

.menuItems a:hover {
  color: rgb(255, 231, 231); /* Change the link color on hover */
  background-color: rgb(88, 83, 83);
  transition: all .2s ease-in-out;
}

.closeButton {
  position: absolute; /* Position the button in the top right corner */
  top: 0;
  right: 0;
  cursor: pointer;
  background: none; /* Remove default background */
  padding: 5px; /* Add some padding around the 'X' */
  color: #333; /* Set the color of the 'X' */
}



  